unpackaged/flows/Flow_for_Outgoing_Email_Processing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Case_Status_Current</name>
        <label>Case Status Current</label>
        <locationX>261</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>CaseStatusToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCaseStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Response_Time_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Status_Pending</name>
        <label>Case Status Pending</label>
        <locationX>810</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>CaseStatusToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Response_Time_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Not_Set_First_Response_Send_Datetime</name>
        <label>Do Not Set First Response Send Datetime</label>
        <locationX>227</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>FirstResponseSentDateTimeValueToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTimeFirstResponseSent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstResponseSentFlagValueToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentIsFirstResponseSent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Status_OwnerId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Response</name>
        <label>Set First Response</label>
        <locationX>880</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>FirstResponseSentDateTimeValueToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstResponseSentFlagValueToSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Status_OwnerId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Update_Options</name>
        <label>Case Status Value</label>
        <locationX>546</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Update_Status</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCaseStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentCaseStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoresponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Pending</targetReference>
            </connector>
            <label>Update Status</label>
        </rules>
        <rules>
            <name>Do_Not_Update_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoresponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Current</targetReference>
            </connector>
            <label>Do Not Update Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Response_Time_Value</name>
        <label>First Response Time Value</label>
        <locationX>553</locationX>
        <locationY>524</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Set_First_Response_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentIsFirstResponseSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoresponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Response</targetReference>
            </connector>
            <label>Set First Response Time</label>
        </rules>
        <rules>
            <name>Do_not_Set_First_Response_Time</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentIsFirstResponseSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAutoresponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Not_Set_First_Response_Send_Datetime</targetReference>
            </connector>
            <label>Do not Set First Response Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Process_Decision</name>
        <label>Run Process?</label>
        <locationX>549</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Run_Process_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAutoresponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Information</targetReference>
            </connector>
            <label>Run Process</label>
        </rules>
    </decisions>
    <description>Sets Case Status to Pending and sets First Response Time.</description>
    <formulas>
        <name>IsAutoresponse</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS( {!EmailTextBody},{!TextContainedInAutoResponseToIdentify})</expression>
    </formulas>
    <interviewLabel>Flow for Outgoing Email Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow for Outgoing Email Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Information</name>
        <label>Get Case Information</label>
        <locationX>545</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Update_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CurrentDateTimeFirstResponseSent</assignToReference>
            <field>Date_Time_First_Response__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentIsFirstResponseSent</assignToReference>
            <field>First_Response_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentCaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_Status_OwnerId</name>
        <label>Set Case Status &amp; OwnerId</label>
        <locationX>549</locationX>
        <locationY>688</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Time_First_Response__c</field>
            <value>
                <elementReference>FirstResponseSentDateTimeValueToSet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Response_Sent__c</field>
            <value>
                <elementReference>FirstResponseSentFlagValueToSet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>CaseStatusToSet</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Run_Process_Decision</startElementReference>
    <status>Active</status>
    <variables>
        <name>BypassProcessBuilder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseStatusToSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentDateTimeFirstResponseSent</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentIsFirstResponseSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailTextBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstResponseSentDateTimeValueToSet</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstResponseSentFlagValueToSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextContainedInAutoResponseToIdentify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
