unpackaged/flows/Increment_Touch_Count.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>No Edits on Error</description>
        <name>Error</name>
        <label>Error</label>
        <locationX>703</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>CaseTouchCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseTouchCount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Add one to the starting Touch Count</description>
        <name>Increment_Touch_Count</name>
        <label>Increment Touch Count</label>
        <locationX>368</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>CaseTouchCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Touch_Count</targetReference>
        </connector>
    </assignments>
    <description>Increment the Ticket Touch Count by 1</description>
    <formulas>
        <name>Touch_Count_Update</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Increment Touch Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Increment Touch Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Lookup the specified Ticket and get the starting Touch Count.</description>
        <name>Get_Touch_Count</name>
        <label>Get Touch Count</label>
        <locationX>183</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Touch_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_ID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseTouchCount</assignToReference>
            <field>Touch_Count__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Utilize the incremented touch count to update the ticket.</description>
        <name>Update_New_Touch_Count</name>
        <label>Update New Touch Count</label>
        <locationX>520</locationX>
        <locationY>81</locationY>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Touch_Count__c</field>
            <value>
                <elementReference>CaseTouchCount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Touch_Count</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>capture related case id</description>
        <name>Case_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The value of the Touch_Count__C field on the ticket object</description>
        <name>CaseTouchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
